.btn {
    /* Select the elements and the state they are in to apply CSS */
    &:link,
    &:visited {
      text-transform: uppercase;
      /* Adds or remove italic or underline properties */
      text-decoration: none;
      padding: 15px 40px;
      /* Sets the display WITHOUT taking the intire width and put other elements on its side */
      display: inline-block;
      border-radius: 10rem;
      /* Sets that all the properties of this element and STATE can BE animated */
      font-size: $default-font-size;
      position: relative;
      backface-visibility: hidden;
      transition: all 0.2s;
  
      &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 1s;
      }
  
      &:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 1rem 3rem rgba($color-black, 0.8);
        
        &::after {
          transform: scaleX(1.5) scaleY(2);
          opacity: 0;
        }
      }
  
      &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
      }
    }
  
    &--white {
      background-color: $color-white;
      color: $color-medium-gray;
  
      &::after {
        background-color: $color-white;
      }
    }
  
    &--animated {
      animation: moveInBottom 5s ease-out 0.75s;
      /* animation-delay: .75s */
      animation-fill-mode: backwards;
    }
  }

  .btn-text {
    &:link,
    &:visited {
      font-size: $default-font-size;
      color: $color-primary-green;
      display: inline-block;
      text-decoration: none;
      border-bottom: .1rem solid $color-primary-green;
      padding: .3rem;
      transition: all .2s;
    }

    &:hover {
      background-color: $color-primary-green;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, .4);
      transform: translateY(-.5rem);
    }

    &:active {
      box-shadow: 0 .5rem 1rem rgba($color-black, .1);
      transform: translateY(0);
    }
  }