.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem;

  &__side {
    height: 45rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
      &-2 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }
      &-3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 20rem;
    background-blend-mode: color;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    // border-top-left-radius: 1rem;
    // border-top-right-radius: 1rem;

    &--1 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
        url(../../assets/img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
        url(../../assets/img/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
        url(../../assets/img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 9rem;
    right: 2rem;
    width: 75%;
  }

  &__heading--span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    &-1 {
      font-weight: 700;
      // background-image: linear-gradient(
      //   to right bottom,
      //   rgba($color-secondary-light, 0.85) rgba($color-secondary-dark, 0.85)
      // );
    }
  }

  &__details {
    padding: 1rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.3rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 0.2rem solid $color-grey-light1;
        }
      }
    }
  }

  &__cta {
    margin: auto;
    position: relative;
    text-align: center;
    top: 25%;
  }

  &__price-box {
    color: $color-white;
    margin-bottom: 8rem;
  }
  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  //*NOT USING REGULAR MIXIM AND INSTEAD USING DIRECTLY MEDIA QUERIES
  //When we use the MIXIM we can only use onde condition;
  //In order to add more than one condition we used MEDIA QUERIES directly; 
  //! @include respond(tab-port) {
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    border-radius: 0.3rem;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;
      overflow: hidden;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    &__cta {
      width: 100%;
      top: 0%;
      left: 0%;
      position: relative;
      transform: translateY(0);
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 6rem;
      font-weight: 100;
    }
  }
}
