.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  & > * {
    transform: skewX(12deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.2);
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
        transform: skewX(0);
      }
  }

  &__caption {
    position: absolute;
    top: 43%;
    left: 6%;
    transform: translate(0%, 150%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translateY(0);
    backface-visibility: hidden;
  }

  &:hover &__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(0.3rem) brightness(80%);
    backface-visibility: hidden;
  }
}
