html {
  width: 100%;
  height: 100%;
  //This will make the ROOT size in order to use REM in ALL other sizes
  //Makes the website responsive with all the sizes used in the website
  //Defines what 1rem is
  font-size: 62.5%;
}
/* Select the elements and the state they are in to apply CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /* display: block;  */
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
  margin: 0;
  padding: 3rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}

#root {
  /* display: inline-block; */
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.381);
}

.App {
  width: 100%;
  height: 100%;
}
