.section-about {
  background-color: $color-grey-light1;
  height: auto;
  padding: 5rem 3rem;
  margin-top: -20hv;

  @include respond(tab-port) {
    padding: 5rem 5rem;
  }
}

.section-features {
  height: auto;
  padding: 10rem 3rem;
  // margin-top: -16rem;

  background-image: linear-gradient(to right bottom, rgba($color-grey-light, 0.8), rgba($color-green-dark, 0.8)),
    url(../../assets/img/nat-4.jpg);
  background-size: cover;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 4rem;
  }
}

.section-tours {
  background-color: $color-grey-light1;
  height: auto;
  padding: 10rem 5rem;
  // margin-top: -16rem;
  margin-bottom: 5rem;

  // @include respond(tab-port) {
  //   padding: 10rem 0rem;
  // }
}

.section-stories {
  // background-color: $color-grey-light1;
  height: auto;
  padding: 15rem 3rem;
  // margin-top: -10rem;
  margin-bottom: 5rem;
  position: relative;
}

.section-book {
  // top: -10rem;
  height: auto;
  padding: 10rem 5rem;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  margin-bottom: 5rem;
  margin-top: -5rem;
}

.book {
  height: auto;
  background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.8) 50%, transparent 50%),
    url(../../assets/img/nat-10.jpg);
  background-size: cover;
  border-radius: 0.3rem;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.8);

  @include respond(tab-port) {
    background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.8) 65%, transparent 65%),
    url(../../assets/img/nat-10.jpg);
  }
  @include respond(phone) {
    background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.5) 90%, transparent 90%),
    url(../../assets/img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;
    
    @include respond(tab-port) {
      width: 70%;
      padding: 3rem;
    }

    @include respond(phone) {
      width: 100%;
      padding: 3rem;
    }
  }
}
