@mixin clearFix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//?============== QUERY MEDIA MANAGER=====================
//*Media query manager
// 0 - 600: Phone;
// 600 - 900: Tablet Portrait;
// 900 - 1200: Tablet Landscape;
// 1200 - 1800 is where out normal styles aply;
// 1800 +: Big desktop;

//* $breakpoint argument choices:
// - phone;
// - tab-port;
// - tab-land;
// - big-desktop;

//* Order to apply the media query:
// BASE + TYPOGRAPHY > GENERAL LAYOUT + GRID > PAGE LAYOUT > COMPONENTS;

//*Using EM mesure unit:
// 1em = 16px(default browser font-size value);
// The rem unit does not work well with media queries;
// The best unit to use is em;

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; //1800px
    }
};


