//!Those are the colors for the linear-gradient used in the header
$color-ligth-grey: rgba(255, 255, 255, 0.428);
$color-dark-green: rgba(0, 128, 77, 0.639);
//!Colors for the other elements
$color-white: #fff;
$color-medium-gray: #777;
$color-black: black;