.header {
  width: 100%;
  height: 100vh;
  // padding: 0 3rem;
  background-image: linear-gradient(45deg, $color-grey-light, $color-green-dark), url(../../assets/img/hero-small.jpg);
  /* This will make the background-image to take the whole area of its parent element */
  background-size: cover;
  /* This will make the the background to have its refence in the top of the image */
  background-position: top;
  /* This is used to CUT the image. The reference is top left corner of the image */
  // -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
  // clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
  /* This is set to the child elements to be relative to this element(which is the parent) */
  position: relative;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }

  @media (min-resolution: 192dpi) and (min-width: 37.5em),
    (-webkit-min-device-ratio: 2) and (min-width: 37.5em),
    (min-width: 125em) {
    background-image: linear-gradient(45deg, $color-grey-light, $color-green-dark), url(../../assets/img/hero.jpg);
  }

  @include respond(tab-land) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Transform the point of reference from the top-left to the center of the image */
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
