.header {
  width: 100%;
  height: 95%;
  background-image: linear-gradient(45deg, $color-grey-light, $color-green-dark), url(../../assets/img/hero.jpg);
  /* This will make the background-image to take the whole area of its parent element */
  background-size: cover;
  /* This will make the the background to have its refence in the top of the image */
  background-position: top;
  /* This is used to CUT the image. The reference is top left corner of the image */
  // -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
  // clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
  /* This is set to the child elements to be relative to this element(which is the parent) */
  position: relative;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* Transform the point of reference from the top-left to the center of the image */
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
