.header {
    /* background-color: bisque; */
    width: 100%;
    height: 95%;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.428), rgba(0, 128, 77, 0.639)), url(../../assets/img/hero.jpg);
    /* This will make the background-image to take the whole area of its parent element */
    background-size: cover;
    /* This will make the the background to have its refence in the top of the image */
    background-position: top;
    /* This is used to CUT the image. The reference is top left corner of the image */
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
    /* This is set to the child elements to be relative to this element(which is the parent) */
    position: relative;
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* Transform the point of reference from the top-left to the center of the image */
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6rem;
    /* This will make any element which id BEHIND to be hidden while the animation takes place */
    backface-visibility: hidden;

}

.heading-primary--main {
    /* The display set to block will take the intire width  */
    display: block;
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: 3.5rem;
    /* In order for animation to work you have to set the animation-name in the HTML element  */
    animation-name: moveInLeft; 
    /* This is how much you want the animation to last */
    animation-duration: 5s;
    /* How long the animation will take before starting */
    animation-delay: 1s;
    /* How many times you want the animation to happen */
    animation-iteration-count: 1;
    /* Choosing if the animation will begin faster and then slow down or vice-versa */
    animation-timing-function: ease-out;
    /* Makes the animation starts with the 0% animation style */
    animation-fill-mode: backwards;

}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /* THIS IS SHORTCUT TO PUT A FEW ANIMATIONI FUNCTION TOGUETHER */
    animation: moveInRigth 5s ease-out; 
    /* How long the animation will take before starting */
    animation-delay: 3s;
    /* How many times you want the animation to happen */
    animation-iteration-count: 1;
    /* Makes the animation starts with the 0% animation style */
    animation-fill-mode: backwards;
}


/* THIS IS HOW YOU CREATE ANIMATIONS */
@keyframes moveInLeft {
    /* At 0% is when the animation is starting and you can choose a lot of things */
    0% {
        /* If the opacity is set to zero the animation will NOT APPEAR */
        opacity: 0;
        /* This is to move the animation. This sets WHERE you want to begin your animation in the X axis */
        transform: translateX(-10rem)
    }
    /* This will happens when the animation is at its 80% of its time duration */
    80% {
        /* This is WHERE you want your animation to be at 80% of its life time */
        transform: translateX(1rem)
    }
    /* This the end of the animation. */
    100% {
        opacity: 1;
        /* The ROTATE function is make you element rotate as many degres as you want */
        transform: translateX(0px) rotate(360deg)
    }
}

/* THIS IS HOW YOU CREATE ANIMATIONS */
@keyframes moveInRigth {
    /* At 0% is when the animation is starting and you can choose a lot of things */
    0% {
        /* If the opacity is set to zero the animation will NOT APPEAR */
        opacity: 0;
        /* This sets WHERE you want to begin your animation */
        transform: translateX(10rem)
    }
    /* This will happens when the animation is at its 80% of its time duration */
    80% {
        /* This is WHERE you want your animation to be at 80% of its life time */
        transform: translateX(-1rem)
    }
    /* This the end of the animation. */
    100% {
        opacity: 1;
        transform: translateX(0rem)
    }
}

/* THIS IS HOW YOU CREATE ANIMATIONS */
@keyframes moveInBottom {
    /* At 0% is when the animation is starting and you can choose a lot of things */
    0% {
        /* If the opacity is set to zero the animation will NOT APPEAR */
        opacity: 0;
        /* This sets WHERE you want to begin your animation */
        transform: translateY(5rem)
    }
    /* This the end of the animation. */
    100% {
        opacity: 1;
        transform: translateY(0rem)
    }
}

/* Select the elements and the state they are in to apply CSS */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    /* Adds or remove italic or underline properties */
    text-decoration: none;
    padding: 15px 40px;
    /* Sets the display WITHOUT taking the intire width and put other elements on its side */
    display: inline-block;
    border-radius: 10rem;
    /* Sets that all the properties of this element and STATE can BE animated */
    transition: all .2s;
    position: relative;
    backface-visibility: hidden;
    
}

.btn:hover {
    transform: translateY(-.5rem);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);

}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 1s;
}

.btn--white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.5) scaleY(2);
    opacity: 0;
}

.btn--animated {
    animation: moveInBottom 5s ease-out .75s;
    /* animation-delay: .75s */
    animation-fill-mode: backwards;
}

